{% extends 'base.html' %}

{% block content%}
<form method="POST">
    <div class="form-group">
        <label for="number">Номер телефона</label>
        <input type="text" name="number" id="number" class="form-control is-valid">   
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Отправить" class="btn btn-primary">
        <div class="invalid-feedback">
            {% if msg_error %}
              {{msg_error}}
            {% endif %}
        </div>
    </div>
</form>


{% endblock %}