{% extends 'base.html' %}

{% from 'films/form.html' import render_film_form %}
{% block content %}

<div class="container">
    <h3 class="my-5"> {{ film.name }}</h3>

<table class="table">    
    <tbody>
        <tr>
            <th>Жанры</th>
            <th>{{ film.genre }}</th>
        </tr>
        <tr>
            <th>Описание</th>
            <th>{{ film.description }}</th>
        </tr>
        <tr>
            <th>Год выпуска</th>
            <th>{{ film.prod_year }}</th>
        </tr>
        <tr>
            <th>Страна</th>
            <th>{{ film.country }}</th>
        </tr>
        <tr>
            <th>Режисер</th>
            <th>{{ film.director }}</th>
        </tr>
        <tr>
            <th>Сценарист</th>
            <th>{{ film.screenwriter }}</th>
        </tr>
        <tr>
            <th>Актеры</th>
            <th>{{ film.actors }}</th>
        </tr>
        <tr>
            <th>Длительность (мин)</th>
            <th>{{ film.duration }}</th>
        </tr>
    </tbody>
</table>
<div class="reviews my-1">
    <h3 class="text-center" style="color: gold;">Отзывы</h3>
    <div class="row m-1">
        {% for review in reviews %}
        <div class="col-sm-6 text-center">
            <table class="text-center">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="mx-5">Пользователь</th>
                        <th class="mx-5">Отзыв</th>
                        <th class="mx-5">Оценка</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% if review.users_id == current_user.id %}
                    <tr class="text-center">
                        <td class="mx-5">Вы</td>
                        <td class="mx-5">{{ review.text_field }}</td>
                        <td class=" mx-5">{{ review.mark }}</td>
                    </tr>
                    {% else %}
                    <tr class="text-center">
                        <td class="mx-5">{{ review.last_name }} {{ review.first_name }}</td>
                        <td class="mx-5">{{ review.text_field }}</td>
                        <td class=" mx-5">{{ review.mark }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
  {% endfor %}
    </div>
</div>

<div class="btn-group d-flex justify-content-center text-center mt-3">
    <a class="btn btn-secondary text-center" href=" {{ url_for('make_review', film_id=film.id) }}">Написать рецензию </a>
</div>


</div>

{% endblock %}